header {
  background-color:black;
 
 }
 
 body {
     margin: 0;
     font-family: 'Quicksand', sans-serif;
     overflow-x: hidden;
   
  

 .logo {
     width:500px;
     height: 140px;
 
 }
   .inactive {
     display:none;
   }
 
   nav {
     display: flex;
     justify-content: space-between;
     padding: 0 24px;
     border-bottom: 1px solid black;
   }
 

  .color_lista{
    color:blue;
    }  
  .fuente {
  
   color: #ECC440;
 
  }
 
  .menu {
    width: 60px;
    height: 60px;
 
  }
 
   .navbar-left ul,
   .navbar-right ul {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     height: 60px;
     
   }
 
   .navbar-left {
     display: flex;
   }
 
   .navbar-left ul {
     margin-left: 12px;
   }
   .navbar-left ul li a,
   .navbar-right ul li a {
     text-decoration: none;
 
     
     padding: 10px;
     border-radius: 8px;
   }
 
   .navbar-email{
    color:yellow; 
    
   }
 
   .cart{
 
     width: 40px;
     height: 40px;
   }
 
   
/*display:block;
    margin-top: 30px;
    justify-content: center;
   

   
  

 /*estilos en mobile*/
 
 @media (max-width: 641px) {
  
  .main_title{

    color: black;
    text-align: center;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    font-size: 40px;

  } 

  .parrafo_home{

    font-size: 1.1rem;
    width:100%;
    text-align: justify;
    padding: 1rem;
    line-height: 1.5rem;
    margin: 1px;
    
  }

  .contenedor_home{
    
      border: 0,3 rem solid black;
       
       align-items: center;
       display: flex;
       flex-wrap: wrap;
       position: relative;
       padding: 10px;
       margin-left: 20px;



  }
  .breslevlogo img {
 
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px; 
    margin-top: 20px;
    
  
  }

  .video_container{
   
       align-items: center;
       border: 0,3 rem solid black;    
       align-items: center;
       display: flex;
       flex-wrap: wrap;
       position: relative;
       padding: 10px;
       margin-left: 30px;




  }


  .titulo {
    color: #ECC440;
    text-align: center;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
   }

  .semititulo{
    color: black;
    text-align: center;
    
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
    font-size: 20px;



  } 
   
       
   
 
   .navbar-left {
     display:none;
   }
   .breslevlogo{
    display:block;
    margin-top: 40px;
    justify-content: center;
    
    
   
   }

   .breslevlogo img{
 
      display:block;
      margin-left: auto;
      margin-right: auto;
      height: 250px;
      width: 250px; 
      margin-top: 20px;
      
    
    }

    .guia_estudio img{
      display:block;
      margin-left: auto;
      margin-right: auto;
      height: 190px;
      width: 370px; 
      margin-top: 20px;
    }

    .libros_guia img{

      display:block;
      margin-left: auto;
      margin-right: auto;
      height: 250px;
      width: 120px; 
      margin-top: 10px;
      



    }

 
    .mobile-menu {
       background-color: white;
       position:absolute;
       top: 60px;
       padding: 8px;
     }
     .mobile-menu a {
       text-decoration: none;
       color: black;
       font-weight: bold;
       /* margin-bottom: 24px; */
     }
     .mobile-menu ul {
       padding: 0;
       margin: 12px 0 0;
       list-style: none;
     }
     .mobile-menu ul:nth-child(1) {
       border-bottom: 1px solid white;
     }
     .mobile-menu ul li {
       margin-bottom: 8px;
     }
 
    .container {
       border: 0,3 rem solid black;
       
       align-items: center;
       display: flex;
       flex-wrap: wrap;
       position: relative;
       padding: 50px;
       }
   
   
   
  
   
   
   
    
    
    
        .videodonacion {
         display:block;
         margin-left: auto;
         margin-right: auto;
         height: 340px;
         width: 340px;
         margin-top: 50px;
         left:-20px ;}
         
         .fb{
          width: 50px;
          height: 50px;
         }
         
         .contacto{
      
        display:block;
         margin-left: auto;
         margin-right: auto;
         height: 150px;
         width: 300px;
         margin-top: 55px;
         
         
         left:-20px ;}
      
        

         .linkfb{
          
          margin-bottom: -20px;
        
         }
       .fb{
        color: black;
        text-decoration: none;
       }

       .contacto h1 {
        font-size:x-large;
       }

       .link{
        font-size:x-large;
        color: black;
        text-decoration: none;
        position: relative;
        top: -30px;
        margin-left: 20px;
        margin-bottom: -20px;
       }
      .contenedor{
       width: 80%;
       margin: 0 auto;
       align-items: center;
       height: 100%;
       margin-bottom: 10px;
 }

.lista_guia{

    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    display: grid;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 

}
 
.lista {
  margin: 10px 10px; /* Espaciado entre elementos de la lista */
} 
  
.menu_lista{
  text-decoration: none;

}

}

 }
 
 /*estilos en Desktop*/
 
 @media (min-width: 642px) {
  
  .parrafo{
    text-align: center;
    display: block;
  }

  .video_container {
       position: absolute;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       width: 90%;
      
       
  }

  

  

   .titulo {
    color: #ECC440;
    text-align: center;
    padding: 10px;
    
   }
   
   .menu{
       display:none;
   }
 
   .mobile-menu{
 
       display: none;
   }
 
   .container {
   
       position: absolute;
       margin: 0 auto;
       padding: 50px;
       display: flex;
       justify-content: center;
       width: 90%;
       margin-bottom: 12px;
       height: 200px;
 
 }
 
 
  
   .breslevlogo img {
   
     
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
     margin-top: 7px;
  }
 
  .videodonacion {
   display:block;
   margin-left: auto;
   margin-right: auto;
   height: 250px;
   width: 250px;
   margin-top: 55px;
   left:-20px ;}

   .video_inicial {
    

   display:block;
   margin-left: auto;
   margin-right: auto;
   width: 320px;
   height: 100px;
   padding: 0px;
   align-self: center;


   }




   

   .fb{
    width: 100px;
    height: 100px;
   }
   .contacto{

   display:block;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 600px;
   margin-top: 55px;
   
   left:-20px ;}

   .link{
    
    font-size:x-large;
    margin-left: 20px;
    position: relative;
    top: -30px;
    text-decoration: none;
    color: black;
      
     }

    
   
 
   .redes{
    display:block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   justify-content: center;

   }
 
   .parrafo_home{

    font-size: 1.1rem;
    width:100%;
    text-align: justify;
    padding: 1rem;
    line-height: 1.5rem;
    margin: 1px;



   }

   .parrafo {

    font-size: 1.1rem;
    width:90%;
    text-align: justify;
    padding: 1rem;
    line-height: 1.4rem;
    margin: 20px;

    }

  .short_parrafo{

    font-size: 1.1rem;
    width:100%;
    text-align:center;
    padding: 1rem;
    line-height: 1.4rem;
    margin: 10px;

  }
 
  .guia_estudio img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 190px;
    width: 370px; 
    margin-top: 20px;
  }
 
  .main_title{
    text-align: center;

  }
  
  .semititulo{

    color: black;
    text-align: center;
    
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
    font-size: 18px;}
     
 
    .contenedor{
      width: 80%;
      margin: 0 auto;
      align-items: center;
      height: 100%;
      
     }


     .libros_guia img{

      display:block;
      margin-left: auto;
      margin-right: auto;
      height: 350px;
      width: 140px; 
      margin-top: 10px;

    }

    .lista_guia{

      list-style-type: none; /* Elimina los puntos de la lista */
      padding: 0;
      display: grid;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; 
  
  }
   
  .lista {
    margin: 10px 10px; /* Espaciado entre elementos de la lista */
  } 
    
  .menu_lista{
    text-decoration: none;  
    
  }
}